<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "tk.iamrakhy"
        version   = "1.0.0">

    <name>Live 99tv App</name>

    <description>
        99% tv live
    </description>

    <author href="http://iamrakhy.tk" email="rakhy.in@gmail.com">
        Rakeshkumar
    </author>

    <preference name="phonegap-version" value="cli-5.2.0" /> 
    <preference name="orientation" value="landscape" />
  <preference name="fullscreen" value="true" />

    <gap:plugin name="org.apache.cordova.core.inappbrowser" />
   
</widget>
